<section class="vh-100" style="background-color: #086375;">

  <div class="container-fluid h-custom">

    <mat-icon style="padding-top: 30px; margin-left: 40px" routerLink="/" >reply</mat-icon>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../assets/logo1.PNG"
             class="img-fluid" alt="Sample image">
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <form [formGroup]="loginForm">

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Connexion </p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg"
                   placeholder="Entrez votre login"  formControlName="username" />

            <label class="form-label" for="form3Example3">Login</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
                   placeholder="Entrez votre mot de passe" formControlName="password"/>
            <label class="form-label" for="form3Example4">Mot de passe</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button class="btn btn-primary btn-lg" mat-raised-button color="accent"
                    style="padding-left: 2.5rem; padding-right: 2.5rem ; margin-left: 150px" type="submit" value="Se connecter" (click)="onLoginUser()"  matTooltip="Se connecter">Se connecter</button>
            <br/>
            <br/>
            <p class="small fw-bold mt-2 pt-1 mb-0" style="color: aliceblue;">Vous n'êtes pas inscrit ? <a href="/register" >S'inscrire</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>