
<section class="vw-100" style="background-color:#086375;">
  <div>
      <header class="p-3 text-white">
          <div class="container d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                  <a href="/">
                      <img src="../../assets/logo2.PNG"
                          class="img-fluid me-2 pr-5" width="170" height="110" alt="Sample image">
                  </a>
              </div>
              <div>
                  <ul class="nav">
                      <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                      <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                      <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                      <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                      <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                  </ul>
              </div>
              <div>
                  <div class="text-end">
                      <a href="/signin" type="button" class="btn btn-outline-light me-2">Login</a>
                      <a href="/register" type="button" class="btn btn-warning">Sign-up</a>
                  </div>
              </div>
          </div>
      </header>
  </div>
</section>

<section class="vh-100 vw-100" style="background-color: #086375;">
    <div class="d-flex justify-content-center align-items-center"> <!-- Center the image horizontally and vertically -->
      <img src="../../assets/plante.webp" class="img-fluid" style=" width: 50%; max-height: 400px;" alt="Sample image">
    </div>
    <div class="container text-center mt-auto mb-auto">
      <div class="mb-5 mt-5">
        <h3 style="font-family: 'Your Font', sans-serif !important; color: #fff;">
          Rejoignez-nous dans notre mission pour un monde plus vert ! 🌳
          Explorez notre carte interactive pour découvrir les zones qui ont besoin de votre amour et de votre engagement. Vous avez le pouvoir de faire la différence. Plantez un arbre, semez une plante, et contribuez à la restauration de la nature. Chaque geste compte. En route pour un avenir plus vert, ensemble ! 💚 #ItForGreen 🌍
        </h3>
      </div>
      <div> <!-- Adjust the top padding for more space between the text and picture -->
        <a href="/register" type="button" class="btnw me-2">Go</a>
      </div>
    </div>
  
    
  </section>    