<section class="vw-100" style="background-color:#086375;">
    <div >
        <header class="p-3  text-white">
            <div class="row container">
              <div class="col-sm-2">
                <a href="/" >
                    <img src="../../assets/logo1-transformed.PNG"
                    class="img-fluid" class="bi me-2 pr-5" width="170" height="110" alt="Sample image">
                </a>
              </div>
              <div class="col-8 pt-3">
                <ul class="nav">
                  <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>
             </div>
             <div class="col pt-3">
                <div class="text-end">
                  <a href="/signin" type="button" class="btn btn-outline-light me-2">Login</a>
                  <a herf="/register" type="button" class="btn btn-warning">Sign-up</a>
                </div>
            </div>
            </div>
          </header>
    
    </div>
    </section>

<section class="vh-100" style ="background-color: #086375;">
<div class="container" >
<div class="row hero-content justify-content-between">
    <div class="mb-5 col-12 col-sm-8 offset-sm-2">
<h1>
    Rejoignez-nous dans notre mission pour un monde plus vert ! 🌳 
    Explorez notre carte interactive pour découvrir les zones qui 
    ont besoin de votre amour et de votre engagement.Vous avez le pouvoir de faire la différence.
    Plantez un arbre, semez une plante, et contribuez à la restauration de la nature.
    Chaque geste compte. En route pour un avenir plus vert, ensemble ! 💚 #ItForGreen 🌍"
</h1>
</div>
<p>Commencer votre aventure !</p>
<a href="/maps" type="button" class="btnw me-2">Go</a>
</div>
</div>
</section>